
Drone-based_Chestnut_Detection/Lotus_example/image_roi_order.json
*.png
Drone-based_Chestnut_Detection/Lotus_example/roi_image_order.json
*.pth
/Drone-based_Chestnut_Detection/sample_anno_data
*.pkl
